<% if (title) { %>
    <h1 class="login"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<!-- The message block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form id="addNewInventory" action="/inv/newInventory" method="post">
    <label>
        Make
        <input type="text" name="inv_make" id="inv_make" required pattern="^(?=.*[a-zA-Z0-9])(?!.*\s)(?!.*[^a-zA-Z0-9]).{1,}$" value="<%= locals.inv_make %>">
    </label>
    <label>
        Model
        <input type="text" name="inv_model" id="inv_model" required pattern="^(?=.*[a-zA-Z0-9])(?!.*\s)(?!.*[^a-zA-Z0-9]).{1,}$" value="<%= locals.inv_model %>">
    </label>
    <label>
        Year
        <input type="number" name="inv_year" id="inv_year" required pattern="^(?=.*[0-9])(?!.*\s)(?!.*[^0-9]).{4}$" value="<%= locals.inv_year %>">
    </label>
    <label>
        Description
        <textarea name="inv_description" id="inv_description" rows="10" cols="75"><%= locals.inv_description %></textarea>
    </label>
    <label>
        Image
        <span>Leave blank for no image.</span>
        <input type="text" name="inv_image" id="inv_image" placeholder="/images/vehicles/no-image.png" pattern="^(?=.*[a-zA-Z0-9_\-\/\.])(?!.*\s)(?!.*[^a-zA-Z0-9_\-\/\.]).{0,}$" value="<%= locals.inv_image %>">
    </label>
    <label>
        Thumbnail
        <span>Leave blank for no thumbnail.</span>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" placeholder="/images/vehicles/no-image-tn.png" pattern="^(?=.*[a-zA-Z0-9_\-\/\.])(?!.*\s)(?!.*[^a-zA-Z0-9_\-\/\.]).{0,}$" value="<%= locals.inv_thumbnail %>">
    </label>
    <label>
        Price
        <input type="number" name="inv_price" id="inv_price" required pattern="^(?=.*[0-9\.])(?!.*\s)(?!.*[^0-9\.]).{1,}$" value="<%= locals.inv_price %>">
    </label>
    <label>
        Miles
        <input type="number" name="inv_miles" id="inv_miles" required pattern="^(?=.*[0-9])(?!.*\s)(?!.*[^0-9]).{1,}$" value="<%= locals.inv_miles %>">
    </label>
    <label>
        Color
        <input type="text" name="inv_color" id="inv_color" required pattern="^(?=.*[a-zA-Z0-9])(?!.*\s)(?!.*[^a-zA-Z0-9]).{1,}$" value="<%= locals.inv_color %>">
    </label>
    <label>
        Classifications
            <%- classificationList %>
    </label>
    <input type="submit" name="submit" id="newInventory">
  </form>